{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Login</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-4">
		    {{ wtf.quick_form(form) }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
		    <!-- <p>忘了密码? <a href="{{ url_for('auth.password_reset_request') }}">点这里</a></p> -->
    		<p>New User?  <a href="{{ url_for('auth.register') }}">Register Now</a></p>
		</div>
	</div>
</div>
{% endblock %}
