{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Management{% endblock %}

{% block head %}
{{ super() }}
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
{% endblock %}

{% block page_content %}

<div class="header clearfix">
    <h3 class="text-muted">Export Data</h3>
</div>

<div class="select">
  <select name="select" id="category_select" class="form-control">
    <option value="1">Rött vin</option>
    <option value="2">Vitt vin</option>
  </select>
</div>

<div class="select_date">
  <div class="form-group">
    <input type="text" class="form-control" id="start_date" placeholder="Start Date">
  </div>
  <div id="start_calendar"></div>
</div>
<div class="select_date">
    <input type="text" class="form-control" id="end_date" placeholder="End Date">
  <div id="end_calendar"></div>
</div>

<a id="export_btn" class="btn btn-export" type="button">Export</a>

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script> 
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/time.js') }}"></script> 
<script type="text/javascript">
    var start_date = ""
    var end_date = ""
    $('#start_calendar').calendar({
      width: 320,
      height: 320,
      trigger: '#start_date',
      zIndex: 999,
      format: 'yyyy-mm-dd',
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
            start_date = formatDate(date, "yyyy-MM-dd")
        }
    });
    $('#end_calendar').calendar({
      width: 320,
      height: 320,
      trigger: '#end_date',
      zIndex: 999,
      format: 'yyyy-mm-dd',
        onSelected: function (view, date, data) {
            console.log('event: onSelected')
        },
        onClose: function (view, date, data) {
            console.log('event: onClose')
            console.log('view:' + view)
            console.log('date:' + date)
            console.log('data:' + (data || 'None'));
            end_date = formatDate(date, "yyyy-MM-dd")
        }
    });

    // 定时刷新最新的生成 excel 的进度
    var timer = new Object();

    var alreadyDownload = false

    function get_excel_progress(type) {
      $.ajax({
          type: "get",
          dataType: "json",
          url: "get_excel_progress?type="+type,
          complete: function (resp) {
            var data = $.parseJSON(resp.responseText);
            console.log(data.msg);
            if (data.msg != "") {
              document.getElementById("export_btn").innerHTML = data.msg
              if (data.msg == "99%") {
                document.getElementById("export_btn").innerHTML = "Generating..."
              }
              if (data.msg == "100%" && !alreadyDownload) {
                alreadyDownload = true
                clearInterval(timer);
                document.getElementById("export_btn").innerHTML = "Finished"
                window.location.href="/download_excel?type="+type;
              }
            }
          },
          error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest.status);
              console.log(XMLHttpRequest.readyState);
              console.log(textStatus);
            }
      });
    }
    $(function () {
      $("#export_btn").click(function () {
        if (start_date != "" && end_date != "") {
          var category = $('#category_select').val()
          $.ajax({
            type: "post",
            dataType: "json",
            url: "export_excel?start_date="+start_date+"&end_date="+end_date+"&category="+category,
            complete: function (resp) {

              var data = $.parseJSON(resp.responseText);
              console.log(data.code);
              console.log(data.msg);

              if (data.code == '0000') {
                document.getElementById("export_btn").innerHTML = "Generating..."
                timer = window.setInterval(function(){ 
                  get_excel_progress("inventory");
                }, 1000);
              }else{
                alert(data.msg);
              }
              
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
              console.log(XMLHttpRequest.status);
              console.log(XMLHttpRequest.readyState);
              console.log(textStatus);
            }
          });
        }else{
          alert("Please select the date");
        }
      });
    });
</script>
{% endblock %}

{% block scripts %}
{{ super() }}

{% endblock %}
